.container__big-card {
  margin-left: 20px;
  margin-right: 200px;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.big-card__title > h1 {
  margin-top: 15px;
  font-size: 20px;
}

.big-card__description {
  margin-top: 20px;
}

.big-card__description > a > p {
  color: grey;
}

.big-card__photo > img {
  min-width: 400px;
}
